.text-input {
  border: 1px solid #cacccd;
  font-size: $font-lg;
  font-weight: 300;
  height: 50px;
  padding: $s-size;

  &__error {
    border: 1px solid $bright-red;
  }
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}
